/* .container {
    display: flex;
    flex-wrap: wrap;
    width: calc(10 * 10px);
} */

.row {
    display: flex;
    width: 100%;
}

.filled {
    background-color: black;
}

.square {
    outline: 1px solid black;
    height: 10px;
    width: 10px;
}

.square:hover {
    background-color: black;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 400px;
    padding-top: 12px;
}